@import '../../styles/mixins';
@import '../../styles/media';

.list {
  width: 100%;

  & li {
    border-bottom: 1px solid var(--colorLightBlack);

    & a {
      @include link-hover;
    }
  }
}

.item {
  @include flexColumn;
  padding: 1rem;
  border-radius: var(--borderRadius);

  &:hover {
    background-color: var(--colorLightBlack);
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @include media-for('tablet-portrait-up') {
      margin-bottom: 0;
    }
  }

  &__title {
    // Display long titles in 2 lines max
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 18px;
    font-weight: 500;
    margin-left: 1rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: var(--colorGrey);
  }

  &__stats {
    display: flex;
    align-items: center;

    & span {
      margin-right: 0.75rem;

      & svg {
        margin-right: 0.25rem;
      }
    }

    @include media-for('tablet-portrait-up') {
      margin-right: 2rem;
    }

    @include media-for('tablet-landscape-up') {
      margin-right: 4rem;
    }
  }

  &__size {
    text-align: right;
    min-width: 65px;
  }

  @include media-for('tablet-portrait-up') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.not-found {
  padding: 1rem;
  color: var(--colorGrey);
}
