@import '../../styles/mixins';

.footer {
  @include flexCenter;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: var(--colorGrey);
  font-size: 14px;

  &__tools {
    margin-bottom: 0.5rem;
  }

  &__repo-source {
    @include flexCenter;
  }

  & a {
    color: var(--colorAccentGreen);
    @include link-hover;

    & svg {
      margin-right: 0.5rem;
    }
  }
}
