@import '../../styles/mixins';

.container {
  @include flexCenter;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: var(--colorGrey);
  font-size: 14px;

  & a {
    color: var(--colorAccentGreen);
    @include link-hover;

    & svg {
      margin-right: 0.5rem;
    }
  }
}

.tools {
  margin-bottom: 0.5rem;
}

.source {
  @include flexCenter;
}
