@import '../../styles/mixins';

.avatar {
  @include flexCenter;
  width: 150px;
  height: 150px;
  border-radius: var(--borderRadiusBig);
  overflow: hidden;
  margin-bottom: 2rem;
}

.user-info {
  width: 100%;
  text-align: center;

  & h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  & h2 {
    font-size: 18px;
    font-weight: 400;
    color: var(--colorGrey);
    margin-bottom: 2rem;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  text-align: initial;
  margin-bottom: 2rem;

  & li {
    @include flexColumn;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--colorLightBlack);
    border-radius: var(--borderRadius);
    font-size: 18px;
    font-weight: 100;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & span:first-of-type {
    color: var(--colorGrey);
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 400;
  }
}

.btn-follow {
  @include button;

  & span {
    margin-left: 0.5rem;
  }
}
