@import '../../styles/mixins';
@import '../../styles/media';

.container {
  @include flexColumn;
  align-items: center;

  @include media-for('tablet-landscape-up') {
    flex-direction: row;
    align-items: stretch;
  }
}

.avatar {
  @include flexCenter;
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: var(--borderRadiusBig);
  border: 1px solid var(--colorLightBlack);

  @include media-for('tablet-landscape-up') {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.details {
  @include flexColumn;
  justify-content: space-between;
  width: 100%;
  text-align: center;

  &__header {
    @include flexColumn;

    @include media-for('tablet-landscape-up') {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.profile {
  margin-bottom: 1rem;

  &__fullname {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__nickname {
    font-size: 18px;
    font-weight: 400;
    color: var(--colorGrey);
  }

  @include media-for('tablet-landscape-up') {
    margin-bottom: 0;
  }
}

.follow {
  margin-bottom: 2rem;

  &__btn {
    @include button;

    & span {
      margin-left: 0.5rem;
    }
  }

  @include media-for('tablet-landscape-up') {
    margin-bottom: 0;
  }
}

.stats {
  @include flexColumn;
  text-align: initial;

  & li {
    @include flexColumn;
    width: 100%;
    background-color: var(--colorLightBlack);
    border-radius: var(--borderRadius);
    font-size: 18px;
    font-weight: 100;
    padding: 0.5rem;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include media-for('tablet-portrait-up') {
      margin-bottom: 0;
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__label {
    color: var(--colorGrey);
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 400;
  }

  @include media-for('tablet-portrait-up') {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
