@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin transition {
  transition: all 0.2s cubic-bezier(0.15, 0.96, 0.26, 1.05) 0s;
}

@mixin button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: var(--borderRadius);
  background-color: var(--colorAccentGreen);
  text-transform: uppercase;
  font-size: inherit;
  color: var(--colorBlack);
  font-family: inherit;
  font-weight: 500;
  @include transition;

  &:hover,
  &:focus {
    background-color: var(--colorAccentLightGreen);
  }
}

@mixin link-hover {
  &:hover,
  &:focus {
    color: var(--colorAccentLightGreen);
  }
}

@mixin outline {
  outline: 1px solid red;
}
