@import 'mixins';
@import 'media';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  color-scheme: dark;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: var(--colorSelection);
}

body {
  padding: 0;
  margin: 0;
  color: var(--colorWhite);
  background-color: var(--colorDarkBlack);
  font-family: var(--fontMain);
}

main {
  @include flexCenter;
  flex-direction: column;
  max-height: 100vh;
  justify-content: space-between;
}

section {
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 1rem;

  @include media-for('tablet-portrait-up') {
    padding: 0 2rem;
    padding-bottom: 2rem;
  }

  @include media-for('tablet-landscape-up') {
    padding: 0 3rem;
    padding-bottom: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  @include transition;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

input {
  display: block;
  border: 0;
  outline: 0;
  font: inherit;
  color: var(--colorGrey);

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: inherit;
  }
}
