@import 'mixins';
@import 'media';

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  @include flexColumn;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: var(--colorBlack);
  border-radius: var(--borderRadius);
}

.header {
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1rem;

  @include media-for('tablet-portrait-up') {
    margin-bottom: 2rem;
  }
}
